@import url('react-toastify/dist/ReactToastify.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  background-color: theme('colors.bunker');
}

#body * {
  font-family: var(---font-plus-jakarta-sans);
}

.bg-custom-radial {
  background-image: radial-gradient(ellipse at center top, rgba(255, 255, 255, 0.15) 0%, transparent 70%),
    radial-gradient(ellipse at center bottom, rgba(255, 255, 255, 0.15) 0%, transparent 70%);
}

.min-h-screen-responsive {
  min-height: 100vh;
  min-height: 100dvh;
}

.webkit-fill-white {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5) !important;
}

/* Cookiebot styles */

.CybotCookiebotDialogBodyButton {
  border-radius: 999px !important;
}
#CybotCookiebotDialogPoweredbyCybot {
  display: none !important;
}

.CookieDeclarationTable {
  word-break: break-word !important;
}

#CookieDeclarationUserStatusLabelConsentId {
  word-break: break-word !important;
}

#CybotCookiebotDialogPoweredByText {
  display: none !important;
}

@keyframes fade-animation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fade {
  background: linear-gradient(-45deg, #fefce8, #fef9c3, #fde047, #facc15);
  background-size: 400% 400%;
  animation: fade-animation 16s ease infinite;
}

/* PUBLIC */

.section-profile-gradient {
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(13, 17, 22, 1) 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0) 70%, rgba(13, 17, 22, 1) 100%),
    linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(13, 17, 22, 1) 100%),
    linear-gradient(90deg, rgba(255, 255, 255, 0) 70%, rgba(13, 17, 22, 1) 100%),
    linear-gradient(270deg, rgba(255, 255, 255, 0) 70%, rgba(13, 17, 22, 1) 100%);
}

/* TODO: Remove placeholder AppNavbarPlaceholder */
:root {
  --public-desktop-navbar-height: 68px;
  --public-mobile-navbar-height: 60px;
}
