@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('react-toastify/dist/ReactToastify.css');

html,
body {
  height: 100%;
  width: 100%;
}

#body * {
  font-family: var(---font-plus-jakarta-sans);
}

.bg-custom-radial {
  background-image: radial-gradient(ellipse at center top, rgba(255, 255, 255, 0.15) 0%, transparent 70%),
    radial-gradient(ellipse at center bottom, rgba(255, 255, 255, 0.15) 0%, transparent 70%);
}

.min-h-screen-responsive {
  min-height: 100vh;
  min-height: 100dvh;
}
.webkit-fill-white {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5) !important;
}

/* Cookiebot styles */

.CybotCookiebotDialogBodyButton {
  border-radius: 999px !important;
}
#CybotCookiebotDialogPoweredbyCybot {
  display: none !important;
}

.CookieDeclarationTable {
  word-break: break-word !important;
}

#CookieDeclarationUserStatusLabelConsentId {
  word-break: break-word !important;
}
